.careers {
    > a {
      display: block;
      background: rgba(0, 0, 0, 0.2);
      padding: 20px;
      border-radius: 4px;
      margin: 20px 0;
      text-decoration: none;
      
      &:hover p {
        color: var(--primary);
      }
      
      p {
        margin: 0;
        
        &:last-child {
          font-size: 0.8em;
          color: #bbb;
        }
      }
    }
  }
  /* careers details */
.career-details {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}