.Carousel_holder {
  display: inline-flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  border-radius: 2px;
  height: 550px;
  width: 100%;
  position: relative;
  top: 7px;
}
.Carousel_holder::-webkit-scrollbar {
  display: none;
}