#heading{
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
.body{
    background-color: cornsilk;
}
.button{
    color:blueviolet;
    text-decoration: underline;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}